body{
	margin:0;
	padding:0;
}

.inputGroup {
	background-color: #29a19c;
	display: block;
	margin: 10px 0;
	position: relative;
}
.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}
.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: "";
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}
.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #d1d7dc;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
	color: #fff;
}
.inputGroup input:checked ~ label:before {
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}
.inputGroup input:checked ~ label:after {
	background-color: #54e0c7;
	border-color: #54e0c7;
}
.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

.form {
	padding: 0 16px;
	max-width: 550px;
	margin: 50px auto;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}

.contain {
	font-family: "Fira Sans", sans-serif;
	background: #f1f1f1;
}


.menu{
	background: #444;
    padding: 20px;
	min-height: 100px;
}

.menu ul {
	display: inline;
	width:1000px;
	margin:auto;
	padding:0 40px;
	
}
.logo {
	font-size: 35px;
	font-weight:bold;
	float: left;
}
.menu ul li {
	list-style: none;
	margin: 0;
	margin-top: 15px;
	color: #b2b1b1;
	cursor: pointer;
}
.menu ul li a {
	text-decoration: none;
	list-style: none;
	color: #fff;
	cursor: pointer;
}

.signup-btn {
	text-decoration: none;
	color: #888;
	background: #fff;
    opacity: 1;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 8px 16px;
	float:right;
	margin:-19px 0 0 0;
}
.signup-btn span {
	color: #888;
	padding: 8px 16px;
}



*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background:#f1f1f1;
}

code {
	background-color: #9aa3ac;
	padding: 0 8px;
}

.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	/* margin: 20px; */
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.btn:hover,
.btn:focus {
	color: #fff;
	outline: 0;
}
.tutt {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.third {
	border:0;
	background: #3498db;
	color: #fff;
	transition: all 150ms ease-in-out;
}
.third:hover {
	background:#29a19c;
}

